@model IEnumerable<BusStationWebApplication.Models.Bus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusModel.BusModelID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
